body{
    font-family: 'Lato', sans-serif;
}
h1{
    margin: 0;
}
#home{
    background-image: url("../img/home.jpg");
    background-size: cover;
    min-height: 700px;
    padding-bottom: 50px;
}
.navbar {
    background: transparent;
    border-color: transparent;
    padding: 0 50;
}
 .navbar-brand{
    padding: 0;
    margin: 0;
 }
.navbar ul{
    padding-top: 20px;
    padding-bottom: 5px;
}
.navbar-header{
    padding-top: 20px;
}
.navbar-nav li a{
    color: #f1f1f1 !important;
    font-size: 120%;
    margin-left: 20px;
}
.navbar-nav :hover{
    border-bottom: 2px solid #f1f1f1 !important;
}
.homeText{
    position: relative;
    color: #f1f1f1;
    top: 350px;
}
.homeBig{
    font-size: 60px;
    padding: 0 100px;
}
.elements{
    font-size: 30px;
    font-style: italic;
}
/**
*/
.h2style{
    margin-top: 100px;
    margin-bottom: 20px;
}
#about, #vacancy{
    min-height: 400px;
    color: #444444;
    font-size: 20px;
    padding-bottom: 50px; 
}
.about-text{ 
    padding-top: 70px;
}
.about-button{
    background: transparent;
    color: #11074d;
    border: #11074d solid 2px;
    border-radius: 5px;
    float: right;
}
#membership{
    background-image: url("../img/member.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    color: white;
    padding-bottom: 20px;
}
.membershipText{
    position: absolute;
    font-size: 150%;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
}
.group{
    position: relative;
    height: 300px;
    background-color: white;
    color: #444444;
    margin-top: 5px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #11074d;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .75s ease;
}
.group:hover .overlay {
    height: 100%;
}
#testimonial{
    min-height: 450px;
    background-color: #555555;
    color: white;
}
.circle{
    height: 120px;
    width: 120px;
    border: #f5f5f5 solid 5px;
    border-radius: 50%;
    background-color: #11074d
}
.quote{
    font-size: 50px;
    padding: 0 200px 50px;
}
.quoteblock{
    font-style: italic;
    font-size: 16px;
    margin-bottom: 50px;
}
#contact{
    background-image: url("../img/map.jpg");
    background-size: cover;
    color: #f1f1f1;
    min-height: 600px;
}
.contactForm{
    color: #f1f1f1;
    font-size: 150%;
    background-color: transparent;
    width: 100%;
}
button[type="submit"]{
    padding: 20px;
    margin-top: 5px;
    background-color: #f5f5f5;
    color: #11074d;
    width: 50%;
    font-size: 150%;
    border: 2px solid white;
    border-radius: 5px;
}
textarea{
    color: #11074d;
    font-size: 120%;
    background-color: transparent;
}
footer{
    padding-top: 30px;
    font-size: 150%;
    font-style: italic;
    background-color: #11074d;
    color: white;
    height: 120px;
}

/*
 *Button at medium screen size
 */
@media (max-width: 768px){
    #home{
        min-height: 400px;
    }
    .navbar-default{
        background: #11074d !important;
        border-color: transparent;
        padding: 0 50;
    }
    .homeText{
        position: relative;
        color: #f1f1f1;
        top: 200px;
    }
    .homeBig{
        font-size: 30px;
        padding: 0 10px;
    }
    .about-text{ 
        padding-top: 0;
    }
    .quote{
        font-size: 20px;
        padding: 0;
    }
    .elements{
        font-size: 20px;
    }
 }
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/**/
/* News */
